body {
    background-color: rgb(39, 38, 38);
    color: white;
}

#brandLogo {
    width: 7rem !important;
    height: auto !important;
}

ul {
    position: sticky;
    top: 0 !important;
    z-index: 1000;
}

ul>li {
    margin: 3px;
    border-radius: 10px;
}

.nav-item:hover {
    box-shadow: 0 0 6px white;
    transform: translateY(1px) scaleX(1.01);
    transition: transform 100ms;
}

.nav-link {
    color: white !important;
    border-radius: 10px;
}



.row1 {
    margin-top: .3rem !important;
    margin-bottom: .5rem !important;
}

.row1>h4 {
    margin-left: 3rem;
}

.row1>div {
    display: flex;
    overflow-x: auto;
    padding: 5px;
    cursor: pointer !important;
}

/*Hide Scrollbars But Keep Functionality */
.row1>div::-webkit-scrollbar {
    display: none;
}

.card {
    box-shadow: 0px 0px 4px white;
    cursor: pointer;
    transition: transform 0.5s;
}

.card:hover {
    transform: scaleY(1.04) translate(1px) !important;
    /* cursor: pointer !important; */
}

.card-image-height {
    /* width: 100%; */
    height: 100%;
    object-fit: fill;
    background-color: black;
    border-radius: 10px;
}

.carousel-item>img {
    width: 100% !important;
    height: 25rem !important;
    object-fit: contain !important;
    padding: 0.7rem 0 !important;

}

/* for error component */
.h1Error {
    margin-left: 10%;
    margin-top: 15%;
    box-sizing: border-box;
    transform: translateY(-50px) scaleX(1);
    transition: transform 2s linear;
}
